body { background: #41b316; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-email-0 { color: #54b04a; font-size: 17px; margin-bottom: 5px; }
.block-uploader-1 { color: #b9c0b1; font-size: 21px; margin-bottom: 5px; }
.block-session-2 { color: #96c70b; font-size: 21px; margin-bottom: 5px; }
.block-session-3 { color: #c3b616; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #339bd6; font-size: 12px; margin-bottom: 5px; }
.block-uploader-5 { color: #d83257; font-size: 19px; margin-bottom: 5px; }
.block-shipping-6 { color: #79631; font-size: 20px; margin-bottom: 5px; }
.block-cluster-7 { color: #cc0efa; font-size: 13px; margin-bottom: 5px; }
.block-product-8 { color: #d00b6e; font-size: 16px; margin-bottom: 5px; }
.block-notify-9 { color: #472d23; font-size: 17px; margin-bottom: 5px; }
.block-invoice-10 { color: #4ac938; font-size: 15px; margin-bottom: 5px; }
.block-product-11 { color: #8ed8bb; font-size: 21px; margin-bottom: 5px; }